/* auth.css */

.auth-container {
    height: 100vh;
}

.auth-card {
    border-radius: 15px;
    width: 350px;
}

/* inputs */
.form-control {
    border-radius: 10px;
}

/* botón */
.btn {
    border-radius: 10px;
}